.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.icon-text-container {
  display: flex;
  align-items: center;
}

.icon-image {
  width: 32px; /* Adjust the width as needed */
  height: 32px; /* Adjust the height as needed */
  margin-right: 8px; /* Adjust the spacing between the image and text */
}