/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.centered-row {
  justify-content: center;
  text-align: center;
  flex: 1; /* This makes sure the text takes up the available space horizontally */
}

.centered-row-flex {
  justify-content: center;
  text-align: center;
  display: flex;
  margin-top: 150px;
}

.border {
  margin-top: 125px;
  margin-bottom: 125px;
  margin-left: 10px;
  margin-right: 10px;
}

.example-form {
  min-width: 150px;
  max-width: 100%;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.signup-login-link {
    color: white
}

.green-button {
    background-color: #059862 !important; 
    z-index: 0 !important;
}

.gray-tag {
  background-color: #808080 !important; 
  z-index: 0 !important;
}

.red-tag {
  background-color: #E81010 !important; 
  z-index: 0 !important;
}

.orange-tag {
  background-color: #EB7317 !important; 
  z-index: 0 !important;
}

.pale-yellow-tag {
  background-color: #c49404 !important; 
  z-index: 0 !important;
}

.yellow-tag {
  background-color: #B8AE00 !important; 
  z-index: 0 !important;
}

.light-green-tag {
  background-color: #72B849 !important; 
  z-index: 0 !important;
}

.green-tag {
  background-color: #2CB05F !important; 
  z-index: 0 !important;
}

.ceyon-tag {
  background-color: #23B8A4 !important; 
  z-index: 0 !important;
}

.light-blue-tag {
  background-color: #0071EB !important; 
  z-index: 0 !important;
}

.blue-tag {
  background-color: #0738EB !important; 
  z-index: 0 !important;
}

.purple-tag {
  background-color: #8B17FF !important; 
  z-index: 0 !important;
}

.pink-tag {
  background-color: #EB3BE5 !important; 
  z-index: 0 !important;
}

.light-red-tag {
  background-color: #ED3B7F !important; 
  z-index: 0 !important;
}

.red-button {
    background-color: #E83B46 !important; 
    z-index: 0 !important;
}

.yellow-button {
  background-color: #FACF3B !important; 
  z-index: 0 !important;
}

.button-container-nospace {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.margin-tb {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin-l {
  margin-left: 10px;
}

.mat-form-field {
  margin-right: 12px;
}

.zero-index {
  z-index: 0 !important;
}